* {
    margin :0 ;
    padding: 0;
    }
    body{
   max-width: 1400px;
      margin:  0 auto;
    display: grid; 
     grid-template-columns: 2fr 20fr 2fr ;
    }


    .body-mobile{
        margin:  0 auto;
        display: grid; 
         grid-template-columns: 2fr 20fr 2fr ;
    }
    .cont1{
      display: grid; 
      grid-template-columns: 1fr auto;
  
    }
    .girl-pic{
      height: 100%;
    }
  
    .cont1-el2{
      position: relative;
     
    } 
   .dental-logo{
     position: absolute;
   
     top: 40px;
     right:8%;
   }
  
   .inner-container1{
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    padding-top: 70px;
  
  
   }
  
   .logo-image{
    width: 100px;
    height: auto;
    /* position: absolute; */
    top: 50px;
    right: 170px;
  
   }
  
   .cont1-title{
     font-size: 25px;
     color: #aaa9a9;
     /* position: absolute; */
     top: 45px;
     right: 50px;
 
  
   } 
   .header{
     justify-content: center;
     text-align: center;
  
   }
   .inner-cont1{
    position: absolute;
    right: 15%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr ;
    top: 50px;
    align-items: center;
    justify-content: center;
   }
   .container1-element2-button{
  background-color:rgba(92,98,102,.09);
  text-align: center;
  border: none ; 
  border-radius: .6em ;
  color: #009CBC;
  font-size:  20px ;
  position:absolute ;
  top: 120px;
  font-family: 'Almarai', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  right: 15%;
  padding: 10px 20px 10px 20px; 
  font-weight: bold;
  cursor:pointer;
  
   }
  
   .container1-element3{
     justify-content: center;
     align-items: center;
     padding: 50px;
     height: 100%;
     width:100%
   }
  
   .main-image{
     height: 100%;
     width:100%
   }
   .container1-element2{
    height: 100%;
    width:100%
   }
   .line{
     width: 90%;
     margin-left: 35px;
   }
   
   .container2{
     padding-top: 30px ;
     display: flex;
     direction: rtl;
     
  
   }
    
   .container22{
     padding-top: 30px ;

    direction: rtl;
    display: grid; 
    grid-template-columns: 1fr 4fr ;
    
  
  }
   .container5{
    padding-top: 30px ;
    display: flex;
  
    direction: rtl;
    margin-top: 150px;
  
  }
   .Vector{
  
  text-align: right;
  width: 33px;
  height: 45px;
  
   }
  .Vector-doctor{
    font-family: 'Almarai', sans-serif;
  font-size: 20px;

  color: #009CBC  ; 
  margin-bottom: 10px;
  }
  .vector-doctor-image{
    justify-content: center;
    height: auto;
  }
  
   .Vector-title{
    font-family: 'Almarai', sans-serif;
  font-size: 25px;
  margin-right:20px;
  color: #009CBC
   }
   .Vector-des{
    font-size: 20px;
    margin-right:50px;
    text-align: right;
    font-family: 'Almarai', sans-serif;
   }
   .Vector-des-doctor1{
    font-size: 16px;
   
    /* margin-top:5px; */
    /* margin-bottom: 20px; */
    text-align: right;
    font-family: 'Almarai', sans-serif;
   }
   .Vector-des-doctor2{
    font-size: 16px;
   
    margin-bottom: 20px;
    text-align: right;
    font-family: 'Almarai', sans-serif;
   }
   .Vector-des-mobile-app{
    font-size: 20px;
    margin-right:70px;
    text-align: right;
    font-family: 'Almarai', sans-serif;
   }
   .lin2{
     width:30%;
     direction: rtl;
     margin-top: 20px;
     margin-left: 70%;
   }
  
   .container3-elem2{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin-right: 40px;
  
   }
   .container3-title{
     text-align: center;
     padding: 20px;
   }
   .vector2{
    width: 25px; 
    height: 25px;
    margin-top: 30px;
  
   }
  .aligner{
    width: 400px;
    height: auto;
  bottom: 150px;
  position: absolute;
  right:50%;
  
  
  }
  .descreption{
    font-size: 20px;
    margin-right:70px;
    text-align: right;
    direction: rtl;
  
  }
  .total{
    display: grid; 
    grid-template-columns: 2fr 1fr ;
    padding-bottom: 20px;
  }
  .Group{
  width :80%;
  height: 100%;
  /* width: 655.73px;
  height: 462.22px; */
  }
  .Grou1{
    width :60%;
    height: 100%;
  align-items: center;
    }
  
  
  .container5-element2-button
  {padding: 10px;
    background-color:rgba(92,98,102,.09);
  text-align: center;
  border: none ; 
  border-radius: .6em ;
  color: #009CBC;
  font-size:  20px ;
  font-family: 'Almarai', sans-serif;
  width: 30%;
  margin-left: 150px;
  margin-bottom: 40px;
  font-weight: bold;
  cursor:pointer;
  
  }
  .margin{
    color: #009CBC;
    direction: rtl;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Almarai', sans-serif;
    margin-right:20px;
    font-weight: bold;
  }

  .dental-logo-mobile{
    position: absolute;
    width:90px;
      top:55px;
      right:25px;
      height: auto;
       
  }
  
  
  
  @media screen and (min-width: 839px) {
    .cont1-mobile{
  display: none;
    }
    .lin2-mobile{
      display: none;  
    }
    .total-mobile{
      display: none;  
    }
    .Vector-des-mobile{
      font-size: 10px;
      margin-right:10px;
      text-align: right;
      display: none;
      font-family: 'Almarai', sans-serif;
     }
     .Vector-title-mobile{
      display: none;}
      .space{
        display: none;
      }
      .Vector-des-mobile-app{
        display: none;
    }
     
  }
   @media screen and (max-width: 839px) {
   
    .Vector-title{
      font-size: 20px;
    }
    
     .Vector{
      width: 25px;
      height: 30px;
     }
    
     .lin2{
      width: 100%;
      direction: rtl;
      margin-left: 0;
    }
    .total{
      display: grid; 
      grid-template-columns: 2fr ;
    
     }
     .descreption{
      font-size: 10px;
     }
     
     .container5{
      grid-row: 3;
     }
     .container5-element2-button{
      font-size:  15px ;
      margin: 20px auto;
      display: flex;
      width: auto;
     }
     .cont1{
  display: none;
    }
    .cont1-title{
      font-size: 18px;
      color: #aaa9a9;
      position: absolute;
      top: 50px;
      right: 150px;
    }
    .logo-image{
      width: 70px;
      height: auto;
      position: absolute;
      top: 55px;
      right: 220px;
    }
    .container1-element2-button{
      background-color:rgba(92,98,102,.09);
      text-align: center;
      border: none ; 
      border-radius: .6em ;
      color: #009CBC;
      font-size:  18px ;
      position:absolute ;
      top: 110px;
      right: 120px;
      padding: 5px 15px 5px 15px; 
      font-weight: bold;
      cursor:pointer;

      
       }
       .dental-logo{

        width:90px;
      
        top: 50px;
      right: 8%;
      }
      .lin2{
        display: none;
      }
      .lin2-mobile{
        width: 60%;
        margin-left: 180px;
        margin-top: 20px;
  
       }
       .line{
        display: none;
       }
      .Group1-div{
        text-align: center;
      }
      .total{
        display: none;
      }
      .vector-mobile{
        width: 20px;
        height: 20px;
      }
       .Vector-des{
        font-size: 10px;
        margin-right:70px;
        text-align: right;
        font-family: 'Almarai', sans-serif;
       }
       .container55{
        display: flex;
        direction: rtl;
        margin-top: 20px;
        margin-right: 30px;
      
      }
      .margin{
        color: #009CBC;
        direction: rtl;
        margin-top: 10px;
        font-size: 15px;
        margin-right:30px;
        font-weight: bold;
    
      }
      .Vector-title-mobile{
        font-size:18px;
  margin-right:10px;
  color: #009CBC;
  font-family: 'Almarai', sans-serif;
  font-weight: bold;
  margin-top: 5px;
  
      }
      .space{
        display: none;
      }
      .container2{
          margin-right: 30px;
      }
      .Vector-des-mobile-app{
          font-size: 15px;
         
      }
      .Vector-des{
          display: none;
      }
      .Vector-des-doctor1{
        font-size: 15px;
     
         text-align: right;
        font-family: 'Almarai', sans-serif;
       }
       .Vector-des-doctor2{
        font-size: 15px;
      
        text-align: right;
        font-family: 'Almarai', sans-serif;
       }
       .Group1-div{
           align-items: center;
           padding-top: 10px;
       }
       .line3{
           display: none;
       }
       .container22{
        padding-top: 30px ;
margin-right: 20px;
        direction: rtl;
        display: grid; 
        grid-template-columns: 1fr 6fr ;
       }
      .vector-doctor-image{
         justify-content: center;
    height: auto;
      }
      
  
  
  }